body{
  background-color: #ffff
}
.App{
  background-color:  rgb(209, 94, 28);;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(100, 91, 91);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #ffff;
}

#to-do-form input::placeholder{
  color: #ffff;
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #ffff;
  cursor: pointer;
  font-weight: bolder;
}